<!DOCTYPE html>
<html lang="en" dir="ltr">
	<%- include("partials/header"); -%>

    <style>
        .heading {
    margin-top: 6px;
    margin-bottom: 10px;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

h4.title {
    padding: 0px 20px 20px 0px;
    padding-top: 10px;
    font-size: 120%;
}
    </style>

    <div class="heading"><h4 class="title"> <%= posts.title %> </h4></div>

	<img style="float:left; padding-right: 10px;" src="https://img.icons8.com/ios-filled/20/000000/calendar.png">
	<p> <%= posts.date %> </p> <br>
	<img style="width: 888px; height: 500px; margin-left: 11%;"><br><br>
	<p style="font-size: medium;"> <%= posts.content %> </p>
	<br><br>
    <hr>

<h4>Leave a Comment:</h4>
      <form role="form" method="post" action="/posts/<%= postId %>">
        <div class="form-group comments">
            <input type="text" name="userName" class="form-control" placeholder="Enter Your Name">
          <textarea name="commentBody" class="form-control" rows="5" required></textarea>
        </div>
        <input name="id" type="hidden" id="postId" value="<%= postId %>">
        <button type="submit" name="button" class="btn btn-primary">Submit</button>
      </form>
      <br>

<p><span class="badge"></span> Comments:</p><br>

<div class="row">

    <% comments.forEach(function(comments){ %>

        <div class="col-sm-10 comments">
          <h4> <%= comments.name %> <small id="date"></small></h4>
          <p><%= comments.body %></p>
          <br>
        </div>
          <br>
</div>   

    <% }) %>   

	
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
   
   <script>

    $(document).ready(function(){
    $(".badge").html($(".comments").length-1);
    });


        $(".btn").click(function(){
                                    var time = moment().format("YYYY-MM-DDTHH:mm:ss");
                  $("#date").val(time);  
        });


    </script>
